.logout{
    position: absolute;
    top: 10px;
    right: 10px;
}

.todo-list {
    list-style-type: none; /* Removes the dots */
    padding: 0;
    margin: 0;
    width: 600px;
}
.strikethrough {
    text-decoration: line-through;
    color: #888; /* Dim the text */
    opacity: 0.5;
    transition: all 0.5s ease; /* Smooth fading effect */
}
.todos {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between checkbox and text */
}

.completed-text {
    text-decoration: line-through;
    color: gray;
}

.todos{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.todostext{
    flex-grow: 1;
    display: block;
    font-size: larger;
    /* white-space: nowrap; */
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    max-width: 400px;
}
.edit-todo>button{
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}